[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
